---
import Socials from './Socials.astro';

interface Props {
  name: string;
  role?: string;
  picture: string;
  socials?: Record<string, string | undefined>;
  variant?: 'slate' | 'purple' | 'blue';
}

const {
  name,
  role,
  picture,
  socials,
  variant = 'slate',
} = Astro.props;

// Definir variantes de color
const variants = {
  slate: {
    bg: 'bg-slate-300/70 dark:bg-slate-800',
    text: 'text-gray-950 dark:text-violet-50',
    subtext: 'text-gray-700 dark:text-violet-100',
  },
  purple: {
    bg: 'bg-purple-200/50 dark:bg-purple-400/30',
    text: 'text-gray-950 dark:text-violet-50',
    subtext: 'text-gray-900 dark:text-violet-100',
  },
  blue: {
    bg: 'bg-blue-200/70 dark:bg-sky-950',
    text: 'text-gray-950 dark:text-violet-50',
    subtext: 'text-gray-900 dark:text-violet-100',
  },
};

const currentVariant = variants[variant];
---

<div
  class={`flex flex-col justify-between max-w-55 ${currentVariant.bg} rounded-2xl
  p-5 text-center transition-all duration-300 hover:-translate-y-2
  shadow-md hover:shadow-xl w-full`}
>
  <div>
    <img
      src={picture}
      alt={`Foto de ${name}`}
      class="w-34 h-34 mx-auto rounded-full mb-4 object-cover transition-all duration-300 hover:scale-105"
    />
    <h3
      class={`text-lg ${currentVariant.text} font-semibold underline`}
    >
      {name}
    </h3>
    <p
      class={`text-sm ${currentVariant.subtext} mb-4 whitespace-pre-line`}
    >
      {role}
    </p>
  </div>

  <Socials name={name} {...socials} />
</div>
